/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
    transition: transform 0.3s ease-in-out;
  }
  
  .container:hover {
    transform: translateY(-5px);
  }
  
  label {
    font-size: 1.4em;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    display: block;
  }
  
  input[type="text"] {
    width: calc(100% - 22px);
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 1em;
    transition: border-color 0.3s;
  }
  
  input[type="text"]:focus {
    border-color: #007bff;
  }
  
  button {
    padding: 12px 24px;
    font-size: 1em;
    font-weight: bold;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }
  
  #result {
    margin-top: 20px;
    font-size: 1.1em;
    color: #28a745;
    font-weight: bold;
  }
  
  #downloadLink a {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 1em;
    font-weight: bold;
    color: #ffffff;
    background-color: #28a745;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  #downloadLink a:hover {
    background-color: #218838;
    transform: translateY(-2px);
  }
  
  .display-qr {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 2px dashed #ccc;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .display-qr img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  